.button-inline {
  border: none;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  color: var(--color-primary);
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 0.3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

// HEADER

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search-form {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex: 0 0 100%;
    order: 1;
    background-color: var(--color-grey-light-2);
    padding: 0 1.5rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;
    border: none;
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    border-radius: 100rem;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s;

    @media only screen and (max-width: $bp-small) {
      background-color: transparent;
      margin-right: 0;
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @media only screen and (max-width: $bp-small) {
        background-color: transparent;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > div {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-2);
      cursor: pointer;
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notifications {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// SIDEBAR

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {
  margin-top: 3.5rem;
  list-style: none;
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-tab-port) {
    display: flex;
    margin-top: 0;
  }

  @media only screen and (max-width: $bp-phone) {
    font-size: 1.2rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.1rem;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-tab-port) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-tab-port) {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-tab-port) {
      padding: 1.5rem 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1.2rem 1.5rem;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }
}

.legal-text {
  &--sidebar,
  &--mobile {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
  }

  &--sidebar {
    @media only screen and (max-width: $bp-tab-port) {
      display: none;
    }
  }
}

// HOTEL VIEW

.gallery {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease;

  &.fade-out {
    opacity: 0;
  }

  &__item {
    flex: 1 0 33.3334%;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-small) {
      flex: 1 0 50%;
    }

    &.hidden {
      display: none;
    }
  }

  &__nav {
    &--left,
    &--right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      border: none;
      padding: 0.7rem;
      justify-content: center;
      align-content: center;
      transition: all 0.2s;
      cursor: pointer;
      display: none;
      z-index: 100;

      @media only screen and (max-width: $bp-small) {
        display: flex;
      }
    }

    &--left:hover,
    &--right:hover {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);

      .gallery__arrow {
        fill: var(----color-grey-dark-1);
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &--left {
      left: 0.5rem;
    }

    &--right {
      right: 0.5rem;
    }
  }

  &__arrow {
    &--left,
    &--right {
      height: 2rem;
      width: 2rem;
      fill: var(--color-primary);
      transition: all 0.2s;
    }
  }

  &__photo {
    display: block;
    width: 100%;
  }
}

.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center;

  @media only screen and (max-width: $bp-tiny) {
    flex-wrap: wrap;
    padding: 1rem;

    & > * {
      flex: 0 0 50%;
      padding: 1rem;
    }
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-phone) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem;
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-tiny) {
      padding: 0;
    }
  }

  &__stars-icon,
  &__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);

    @media only screen and (max-width: $bp-smallest) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-tiny) {
      order: 2;
    }

    &-icon {
      margin-right: 0.5rem;
    }
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    align-self: stretch;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.25rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: $bp-tiny) {
      margin-left: 0;
      order: 1;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media only screen and (max-width: $bp-phone) {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-phone) {
        font-size: 0.5rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        text-align: center;
      }
    }
  }
}

// Description list
.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &::before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      // Old browsers
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      // New browsers
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-size: cover;
        background-image: none;
      }
    }
  }
}

// RECOMMEND
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    display: inline-block;
    box-sizing: content-box;
    height: 4rem;
    border-radius: 50%;
    border: solid 3px #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

// REVIEWS
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-tab-port) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-phone) {
    width: 100%;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__user {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    &-box {
      margin-left: 1.5rem;
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
    }
  }

  &__photo {
    height: 4rem;
    border-radius: 50%;
  }

  &__rating {
    font-size: 2.2rem;
    color: var(--color-primary);
    font-weight: 300;
  }

  &::before {
    content: '\201C';
    position: absolute;
    font-size: 20rem;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    z-index: 1;
  }
}

// CALL TO ACTION

.cta {
  &__book-heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn-large {
  background: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  border-radius: 100px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  & > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    top: -100%;
    left: 0;
  }

  &__visible {
    padding: 2rem 7.5rem;

    @media only screen and (max-width: $bp-smallest) {
      padding: 2rem 5rem;
    }
  }

  &:hover {
    background: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__invisible {
    top: 0%;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
