.container {
  max-width: 120rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);

  @media only screen and (max-width: $bp-tab-land) {
    margin: 0;
    min-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-small) {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-tab-port) {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-tab-port) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-phone) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 1rem;
  }
}

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;

  @media only screen and (max-width: $bp-tab-port) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-phone) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-tab-port) {
    padding: 2.5rem 0;
  }
}
